body {
    background-color: #99a8b2;
    color: #e6d5b8;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #e6d5b8;
    border-width: 5px;            
    width: 10%;
}
h1 {
    color: #1f6f8b;
}

h3 {
    color: #1f6f8b;
}